{% extends "iimBlogBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}

{% block body -%}
    <h2>{{ entity.name }}</h2>
    <i>Par {{ entity.author  }}, le {{  entity.createdAt|date('Y-m-d H:i:s')  }}</i>

    <div class="well">
        {{entity.content }}
    </div>

    <h3>Le générique</h3>
    <audio controls>
        <source src="{{ asset(entity.sound) }}" type="audio/mpeg">
        <source src="{{ asset(entity.sound) }}" type="audio/ogg">
        <embed height="50" width="100" src="{{ asset(entity.sound) }}">
    </audio>


    <p>
        <a href="{{ path('article') }}" class="btn btn-default">
            Retour à la liste
        </a>
        <a href="{{ path('article_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            Modifier l'article
        </a>
        <a href="" class="btn">
            {{ form(delete_form) }}
        </a>
    </p>


{% endblock %}
